@charset "UTF-8";
/* reset */
*{
    margin: 0; padding: 0;
    font-size: 14px; /* 기본 16px */}
 
    li{
     /* 블릿문자 삭제 */
    list-style: none;}


     a{color: #333;
       text-decoration: none;/*  //밑줄삭제 */}

 .clearfix::after{content: ""; clear: both; display: block;}

 /* wrap */
 #wrap{
     width: 1000px;
     height: 1000px;
     /* background-color: red; */
     margin: 0 auto;
 }
 /* #header */
 #header{}
 #header h1{float: left;}
 #header h1 a{}
 #header h1 a img{
     width: 130px;
     margin-top: 5px;}


 #header .nav{float: right;
     margin-top: 20px;}
 #header .nav ul{}
 #header .nav ul li{
     float: left;
     width: 120px;
     text-align: center;
     position: relative;

 }
 #header .nav ul li a{
     background-color:#ccc;
     display: block;
     padding: 20px 15px;
     transition: 0.3s; /* 변화되는 시간 */
 }
 #header .nav ul li a:hover{
     /* 영역에 마우스가 진입하면 */
     background-color: #ddd;
 }

 #header .nav ul li .submenu{
     display: none;
     position: absolute;
    left: 0; top: 59px;
    z-index: 10;}

/* banner */
#banner{height: 378px; overflow: hidden;}
#banner .sildelist{position:relative;}
#banner .sildelist .sildeimg{
    position: relative;
}
#banner .sildelist .sildeimg h2{
    position: absolute;
    left: 50%; top: 50%;
    /* transform: translate(x값,y값); */
    /* transform: translate의 % 기준은 자신 */
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 10px 30px; /* 위아래 양옆 */
    border-radius: 20px;
}
#banner .sildelist .sildeimg img{
    width: 100%;
    display: block;
    /* img테그의 특징
    인라인요소 --> 예측 할 수 없는 공간 */
}


/* content1 */
#content1{margin: 15px;}
#content1 .notice{ position: relative; float:left; height: 210px;
    width: 49%;
    margin-right: 2%;
/*     border-width: 1px;
    border-style: solid;
    border-color: #ccc; */
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 30px;
}
#content1 .notice ul{}
#content1 .notice ul li{
    float: left;
}
#content1 .notice ul li a{
    font-size: 24px;
    color: #999; 
    font-weight: bold; /* 폰트의두께 */
}
#content1 .notice ul li.active a{
    color: #000;
}

#content1 .notice ul li ul{
    position: absolute; 
    left: 30PX; top: 70PX;
}
#content1 .notice ul li ul li{
    overflow: hidden;
    width: 95%;
}
#content1 .notice ul li ul li a{
    font-size: 16px;
    float: left;
    width: 68%;

    /* 말줄임말 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* //말줄임말 */

    font-weight: normal; /* 폰트의 두께를 일반적으로 */
}
#content1 .notice ul li ul li span{
    float: right;
}





#content1 .ad{float:left; height: 200px; 
    width: 49%;
}
#content1 .ad a{}
#content1 .ad a img{
    width: 100%;
}

/* content2 */
#content2{}
#content2 h2{}
#content2 ul{}
#content2 ul li{
    width: 24.25%;
    float: left;
    margin-right: 1%;
}
#content2 ul li.last{
    margin-right: 0;
}
#content2 ul li div{}
#content2 ul li div img{
    width: 100%;
}
#content2 ul li span{}











/* 팝업 */
.layer-bg{
    display:none;
    position: fixed;
    left: 0; top: 0;
     /* width: 100%; height: 100%; */
     right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.8);
    
}
.layer-bg .layer{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    background-color: #ccc;
    width: 500px; height: 500px;
    padding: 30px;
}
.layer-bg .layer h2{
    font-size: 35px;
}
.layer-bg .layer a.close{
    position: absolute;
    right: 30px; bottom: 30px;
}